---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Learn more about me, my background, and my interests. Find out what drives me and what I hope to achieve with this blog."
	pubDate={new Date('June 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		will update soon..
	</p>
</Layout>
