---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			
			<h1>Welcome to my personal website!</h1>
			<p>
				This is a space where I share my thoughts, projects, and experiences. Feel free to explore and connect with me on social media!
			</p>
			<p>
				I'm currently working on a few exciting projects, and I can't wait to share them with you. Stay tuned for updates!
			</p>
		</main>
		<Footer />
	</body>
</html>

